<nav class="navbar navbar-toggleable-md navbar-light navbar-custom navbar-shadow">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/img/medlit-logo.png" alt="medlit-logo" class="img-fluid" /></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/team">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/activity">Activity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Documentation</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="https://drive.google.com/open?id=0B_TmRZ_aQ6OfUWZGdUMzT2UyeWM">Project Agreement</a>
            <a class="dropdown-item" href="https://drive.google.com/file/d/0B_TmRZ_aQ6OfQS14Uy1oX2dWVE0/view?usp=sharing">Summary of Delphi Study Findings</a>
            <a class="dropdown-item" href="https://drive.google.com/open?id=0B_TmRZ_aQ6OfMkd3YlA2QXh5bGc">Newsletter Vol-1</a>
            <a class="dropdown-item" href="https://drive.google.com/open?id=0B_TmRZ_aQ6OfTTZUZFQ5RERFaFE">Newsletter Vol-2</a>
            <a class="dropdown-item" href="https://drive.google.com/open?id=0B_TmRZ_aQ6OfblQzcEo4XzNPVVk">Newsletter Vol-3</a>
            <a class="dropdown-item" href="https://drive.google.com/open?id=0B_TmRZ_aQ6OfSnp0VUszSUhaQ0E">Newsletter Vol-4</a>
          </div>
        </li>
      </ul>
    </div>    
  </div>
</nav>
