<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <header class="nav-shadows">
    <% include ../partials/nav.ejs %>
  </header>

  <main>
  	<div class="container">
  		<h1 class="display-4 text-center text-capitalize">About the project</h1>
  		<hr>	
  		<br>
  		<p class="lead text-muted text-justify">
  			The increasing medialization of social and everyday life provides the impetus for a concern on media literacy in the interest and context of social change. The media, especially social media, are increasingly becoming the core reference of what society means to itself and to her members. Media literacy and competence among the people have to be valued as a social and cultural capital of society. Accordingly, the MEDLIT project is implemented to promote and enhance media literacy in the country. As with the other partner institutions, this capacity building collaborative project is implemented with a mission to establish (1) an active, sustainable Media Literacy Network in the course of the project and beyond, and (2) to implement e-learning platform through massive online open learning course (MOOC), so as to provide the young people with greater awareness and ability the use media responsibly and meaningfully in the context of participating in social change. The overall goal of this collaborative project is to establish an active and well-functioning collaboration for education, training and research in media literacy in the course of the project and beyond among the project partners in Malaysia, Thailand and Vietnam, and three European universities. 
  		</p>
  		<p class="lead text-muted text-justify">
  			The MEDLIT project started in January 2016 and is projected to end in October 2017. UPM is involved in the research and training-for-the-faculty workshops. The project activities started with a Delphi Study. The goal of the study was to find out how experts from different categories of stakeholders in society think about media system and media culture in the country, and accordingly detect what media-related knowledge they consider as important for inclusion in a media literacy course particularly in tertiary education. Findings of the Delphi Study are used to develop an online course (MOOC) on media literacy that is relevant to the needs and challenges of contemporary mediated Malaysia society, and to come up with a curriculum that fits into the media system and culture, and socio-political settings in the country. The MOOC provides a broad dissemination of knowledge and media awareness among the young people in particular and the public in general. Five training-for-the-faculty workshops are planned for during the project period in order to develop the capability of a group of academics and technical support staff to teach media literacy through MOOC. The plan also entails that UPM carry out additional training program within and beyond the institution to create a multiplier effect of the MEDLIT training-for-the-faculty workshops.
  		</p>
  		<p class="lead text-muted text-justify">
  			Visit this link <a href="http://medlit.vision">http://medlit.vision</a> for more detailed information on the consortium of the MEDLIT project.
  		</p>
  	</div>
  </main>

</body>
</html>
