<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <header class="nav-shadows">
    <% include ../partials/nav.ejs %>
  </header>

  <main>
    <div class="container">
      <h1 class="display-4 text-center">Activity &amp; Report</h1>
      <hr>	
    </div>
    <section class="cd-horizontal-timeline">
		<div class="timeline">
			<div class="events-wrapper">
				<div class="events">
					<ol>
						<li><a href="#0" data-date="22/02/2016" class="selected">22 Feb</a></li>
						<li><a href="#0" data-date="13/04/2016">13 Apr</a></li>
						<li><a href="#0" data-date="20/04/2016">Apr-Sep</a></li>
						<li><a href="#0" data-date="26/05/2016">26 Sep</a></li>
						<li><a href="#0" data-date="03/06/2016">03 Oct</a></li>
						<li><a href="#0" data-date="12/07/2016">22 Nov</a></li>
						<li><a href="#0" data-date="01/08/2016">Dec 2016 - Jan 2017</a></li>
						<li><a href="#0" data-date="26/09/2016">06 Mar</a></li>
						<li><a href="#0" data-date="10/11/2016">10 May</a></li>
					</ol>

					<span class="filling-line" aria-hidden="true"></span>
				</div> <!-- .events -->
			</div> <!-- .events-wrapper -->
				
			<ul class="cd-timeline-navigation">
				<li><a href="#0" class="prev inactive"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
				<li><a href="#0" class="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
			</ul> <!-- .cd-timeline-navigation -->
		</div> <!-- .timeline -->

		<div class="events-content">
			<ol>
				<li class="selected" data-date="22/02/2016">
					<h2>Kick-off-Meeting </h2>
					<em>February 22-26, 2016 @ Heerlen, Netherland</em>
					<br>
					<img src="/img/photo_1.png" class="img-fluid rounded mx-auto d-block" alt="photo_1">
					<br>
					<p class="lead text-muted">	
						On February 22-26, 2017, a Kick-off-Meeting of the Erasmus+ “International Media Studies: Media Literacy as Media Competence for Social Change” project (MEDLIT) was held at Open University Netherland, Heerlen, Netherland. The 5-days meeting-cum-workshop was attended by 15 academics from 9 different universities (2 from Universiti Putra Malaysia, 3 from University Malaysia Kelantan, 3 each from Chulalongkorn University and Srinakhariwat University both from Thailand, 2 from Zeppelin University, 1 from Open University Netherland, and 3 from University of Vienna).  University Vienna is the leader and coordinator of MEDLIT project. The meeting-cum-workshop was to get-to-know the project team members and to introduce the project structure itself, and accordingly to bring the project teams on the same level of information regarding the project itself.  The project members were briefed on its mission, goals, structure, and planned activities by the Project Manager, Michael-Bernhard Zita of University of Vienna. The Scientific Coordinator of the project, Prof. Thomas Bauer of University of Vienna, explained the underlying notion of media literacy as media competence for social change, and the overall mission of the project. Prof. Dr Fritz Hausjell of University of Vienna, the Project Coordinator, gave a welcoming note through skype. Dr. Marian Adolf and Dr. Connelia Wallner of Zepplin University presented the theoretical knowledge and requirements for conducting a Delphi Study in the project. Each partner institution gave a presentation on communication and media studies program in their respective institution. Both Malaysia and Thailand delivered their respective country report on media system and culture. This was then followed up by group discussions and presentations to identify similarities, differences, and uniqueness in media system and culture in Malaysia and Thailand. 
					</p>
					<p class="lead text-muted">
						On the last day, each participant gave his or her views, expectations, and comments about the meeting-workshop, with Prof. Dr. Bauer giving the closing remarks. Based on the feedback gathered during and after the workshop the meeting was considered successful. The general results were: (1) a shared understanding of the project’s aims, structure and framework, (2) a general theoretical understanding of media literacy, media system and media culture, and (3) first exchange on the requirements and framework of the Delphi Study. 
					</p>
				</li>

				<li data-date="13/04/2016">
					<h2>Coordination Meeting and Signing of LOI</h2>
					<em>April 13-14, 2016 @ Universiti Putra Malaysia</em>
					<br>
					<img src="/img/photo_2.png" alt="photo_2" class="img-fluid rounded mx-auto d-block">
					<br>
					<p class="lead text-muted">	
						On April 13-14, 2016 Prof. Dr. Thomas Bauer, Scientific Coordinator of the Media Literacy (MEDLIT) project, paid a visit to Universiti Putra Malaysia (UPM). The visit was intended as a coordination meeting between University of Vienna, the Project Coordinator and UPM, the Project Partner. During the visit, Prof. Dr. Ezhar Tamam introduced Prof. Dr. Bauer to members of the UPM-MEDLIT team and this was followed by a discussion on the project. Prof. Dr. Bauer’s visit took place when the UPM team was at the instrument development phase of first wave of the Delphi study. During the Coordinating Meeting Prof. Dr. Bauer’s comments were sought on the proposed facets and dimensions of media literacy and the items for the Delphi study questionnaire that was being drafted by UPM. In addition to the discussion on the MEDLIT project and Delphi study, Prof. Dr. Bauer also presented a one-hour talk on “Conceptualizing Media Competence” to faculty members and graduate students of the Department of Communication, Faculty of Modern Languages and Communication, UPM. The Coordination Meeting ended with a meeting/discussion between Prof. Dr. Bauer and UPM Vice Chancellor Prof. Datin Paduka Dr. Aini Ideris wherein Prof Dr. Bauer gave a brief overview of the MEDLIT project. The meeting ended with the signing of Letter of Intents on the MEDLIT project between UPM and University of Vienna which were represented by Prof. Datin Paduka Dr. Aini and Prof. Dr. Bauer respectively. 
					</p>
				</li>

				<li data-date="20/04/2016">
					<h2>Delphi Study Phase I</h2>
					<em>April-September 2016</em>
					<p class="lead text-muted">	
						UPM-Erasmus+ Media Literacy (MEDLIT) project team, together with Universiti Malaysia Kelantan, completed the first phase of the Delphi Study for the MEDLIT project. The overall goal of the Delphi study was to find out how different relevant stakeholders in society view media system, media culture, and media role in the country, and what topics they consider important for inclusions in a curriculum on media literacy for tertiary level education. The stakeholders interviewed were experts from (1) institutions of higher learning, (2) news organizations, (3) government agencies, (4) non-government agencies, (5) professional associations, (6) telecommunication and advertising companies, and (7) others including politicians, motivators, human resource managers, and business people. In the study media literacy is defined as the ability and capability to access, analyze, and evaluate media content responsibly and empowering individuals to participate in communication for social change. Delphi Study method was employed because it incorporates diverse perspectives and is an approved method for curriculum design. A total of 75 respondents participated in face-to-face interviews using a structured questionnaire in the 1st wave study. Results of the first wave and methodological lessons learned from conducting it were used to develop the questionnaire for the 2nd wave of the study.
					</p>
				</li>

				<li data-date="26/05/2016">
					<h2>Mid-Term Conference</h2>
					<em>September 26-30, 2016 @ Chulalongkorn University, Bangkok, Thailand</em>
					<br>
					<img src="/img/photo_4.png" alt="photo_2" class="img-fluid rounded mx-auto d-block">
					<br>
					<p class="lead text-muted">
						On September 26-30, 2016, a Mid-Term Meeting was held in Chulalongkorn University, Bangkok. The meeting, attended by 25 people who are core members of the MEDLIT project team, was to review and discuss the status and progress of the project. 
					</p>
					<p class="lead text-muted">
						The first day of the workshop began with the welcoming remarks by Prof. Kiat Ruxrungtham (Vice President of Chulalongkorn University), Dr. Duang-kamol Chartprasert (Dean of the Faculty of Communication Arts), Prof. Dr. Fritz Hausjell (Project Coordinator), and Prof Dr. Thomas Bauer (Scientific Coordinator), and continued with a presentation by Michael-Bernhard Zita (Project Manager). From a project management perspective, Mr. Zita’s presentation addressed the question: Where do we stand in the project and where do we want to go? He reminded the members on the project’s aims, how to achieve these aims and in what form, and how the achievements will be measured by the funding agency. Mr. Zita also presented an overview of the project for the second year.
					</p>
					<p class="lead text-muted">
						On day-two and day-three of the workshop, the sessions were entirely on presentations and discussions on Delphi Study Phase I of the project. Delphi Study is an approved method for curriculum design and is also an approach that incorporates diverse perspectives. Dr. Cornelia Wallner, Dr. Marian Adolf and Susan Alpen of Zeppelin University delivered a presentation on “Methodological Structure in Retrospect” of the Delphi Study, and this was followed with presentations of field work and results of the Delphi Phase I study by the Malaysian, Thailand and Vietnamese teams. Cross-country similarities and differences in the results as well as in the methodology employed in the study were discussed. Insights and lessons learned in Delphi Phase I provided considerations for the methodological approach to be used in Delphi Study Phase II.
					</p>
					<p class="lead text-muted">
						On day-four of the workshop, the Project Manager briefed participants on the mid-term report, time sheets, and other organizational issues. This was followed by Change Board Meeting 1. In the meeting, changes in the project work were discussed and agreed upon. On the last day of the workshop, there were group discussions and presentation of the media literacy cluster/network work package and e-learning work package.
					</p>
				</li>

				<li data-date="03/06/2016">
					<h2>Media Culture and Delphi Workshop</h2>
					<em>October 3-7, 2016 @ Srinakharinwat University, Bangkok, Thailand</em>
					<br>
					<img src="/img/photo_5.png" alt="photo_2" class="img-fluid rounded mx-auto d-block">
					<br>
					<p class="lead text-muted">
						The workshop on Media Culture and Delphi Workshop was held on October 3rd -7th, 2016 at Srinakharinwat University. All project members from the participating universities from (University of Social Science and Humanities, Academy of Journalism and Communication, Chulalongkorn University, Srinakharinwat University, Zepplin University, Open University Netherland, and University of Vienna) were present.
					</p>
					<p class="lead text-muted">
						The first-three days of the workshop was coordinated by DR. Marian Adolf of Zeppelin University. During his session, DR. Adolf presented a conceptual framework on media system and culture studies for the Delphi study of the media literacy (MEDLIT) project to enable project members to have a common understanding on the conceptual and theoretical approach to be adopted in the study. On the second day, the participants visited Thailand’s First Public Service Broadcaster (Thai PBS).  Participants were briefed on the operations of Thai PBS. During the visit, participants had the opportunity to listen to a talk by Khun Supinya Klangnarong, from the National Broadcaster and Telecommunication Commission, Thailand, on Media Literacy in that country.
					</p>
					<p class="lead text-muted">
						On the last two days of the workshop, participants discussed plans for the second Delphi study. The discussion includes goal, methods and processes of the second Delphi study. The workshop ended with project members gaining a firmer understanding of the direction of the Delphi study to be carried in their respective country.
					</p>
				</li>

				<li data-date="12/07/2016">
					<h2>Higher Education System Workshop</h2>
					<em>November 22-26, 2016 @ Universiti Putra Malaysia</em>
					<br>
					<img src="/img/photo_6.png" alt="photo_2" class="img-fluid rounded mx-auto d-block">
					<br>
					<p class="lead text-muted">
						A Higher Education System Workshop was held in Universiti Putra Malaysia on November 22-26, 2016.  The workshop was attended by 34 participants, from among the core members of the MEDLIT project. There were five participants each from UMK, UPM, Chulalongkorn University Srinakhariwat Universityone each from Zeppelin University and Open University Netherland, and two from University of Vienna.
					</p>
					<p class="lead text-muted">
						The purpose of the MEDLIT- Higher Education Workshop was to discuss the practical implications of Media Literacy for the Asian partners of the MEDLIT-project, particularly on how to foster Media Literacy in the study programs at each nation’s higher education institutions. The workshop was intended to shift the focus of MEDLIT-project from theoretical approach to strategic interests of the project partners. The aim was to determine existing modules in the study programs that could be combined with the preliminary findings of the Delphi Study in order to come up with the best levers for a joint Media Literacy program structure. For this purpose, it was necessary to develop a better understanding of each nation’s local programs and needs.
					</p>
					<p class="lead text-muted">
						The welcoming remarks of the workshop were given by Prof. Thomas A. Bauer, Scientific Coordinator, Michael-Bernhard Zita, the Project Manager. The workshop also reviewed the outcomes of the meeting and workshop that were held in September 2016 in Bangkok. In addition, there were also presentations about the study program/s by each institution.
					</p>
					<p class="lead text-muted">
						On the second day Prof. Thomas Pfeffer, from Danube-University Krems gave an inspiring lecture on “Academic Media Literacy and the Role of Universities." on the third day Dr. Ibrahim Saleh from University of Cairo gave a lecture on Journalism Education and Media Literacy. Apart from lectures and group activities, the participants also visited Radio Television Malaysia (RTM), a Malaysian government-owned television station and were briefed on history and mission of RTM. 
					</p>
					<p class="lead text-muted">
						Throughout the five day workshop, discussions were held by mixing plenary and smaller working group sessions. During the workshop all partner institutions were required to produce their own video which highlights ideas and understanding on the MOOC. The MOOC videos were later presented and discussed. 
					</p>
					<p class="lead text-muted">
						On the last day of the workshop, Prof. Dr. Ezhar Tamam from Universiti Putra Malaysia gave a lecture on the integration and presentation of the Media Literacy Network. The workshop provided an understanding about the concept for content-related structures of the Media Literacy program and MOOC/s. In addition, a clearer view and proper planning on the integration of the Media Literacy Network was also outlined and discussed.
					</p>
				</li>

				<li data-date="01/08/2016">
					<h2>Delphi Study Phase II </h2>
					<em>December 2016 – January 2017</em>
					<p class="lead text-muted">	
						A 2nd wave of the Delphi study MEDLIT project was carried out from December 2016 to January 2017. The main purpose was to validate the findings from the 1st wave. A total of 44 individuals participated in the 2nd wave in which 35 were previously interviewed in the 1st wave while 9 were new respondents (4 were replacements and another 5 were new respondents in the student category). The data collection procedures were similar to those in the 1st wave. The findings provide useful insights into deciding what media-related knowledge to emphasize and how much coverage is needed in designing an introductory media literacy course for university students in particular and young people in general. From a Malaysian socio-cultural perspective, media literacy as a media competence program for social change comprises is not only about understanding media behavior (media communication function, biasness, representation, influence, and credibility) but also moral and legal obligation in media use. The moral and ethical emphasis should not be construed as a protective framework to a media literacy education; instead it is about understanding the normative dimension of responsible and accountable media culture as a path towards empowering and emancipating young people in using the media for positive self- and societal development. The kind of media literacy education the public expects is a program that develops critical thinking,  promotes good citizens who are alert of the media, and educates the mind about integrity and mindful of the media’s role and effect on people.
					</p>
				</li>

				<li data-date="26/09/2016">
					<h2>E-Learning Workshop</h2>
					<em>March 6-10, 2017 @ Universiti Malaysia Kelantan</em>
					<br>
					<img src="/img/photo_8.png" alt="photo_2" class="img-fluid rounded mx-auto d-block">
					<br>
					<p class="lead text-muted">	
						Eight members of the UPM-Erasmus+ Project participated in E-Learning Workshop organized by Universiti Malaysia Kelantan. The main focus of the workshop was to provide hands on experience to MEDLIT project members from Malaysia, Vietnam and Thailand concerning the technical aspects of MOOC development and implementation. The participants were exposed to the various technical software and tools that can be used to develop MOOC online courses, including video production and computer animation.
					</p>
					<p class="lead text-muted">
						The E-Learning Workshop was very well planned and organized and was closely coached by facilitators who were very skillfull and knowledgeable in the technical aspects of using the various computer and audio and video-related tools to produce online courses for the MOOC platform. Apart from the technical hands on experience, the participants also attended a number of talks and presentations delivered by experts in the field, especially one given by Professor Dato Dr. Mohamed Amin Embi from Universiti Kebangsaan Malaysia. Prof. Dato Dr. Mohamed Amin is  very well known internationally for his online MOOC courses. Overall, it was a very educational and informative workshop.
					</p>
				</li>

				<li data-date="10/11/2016">
					<h2>Emancipation workshop</h2>
					<em>May 10th - 22nd, 2017 @ University of Vienna, Austria</em>
					<br>
					<img src="/img/photo_9.png" alt="photo_2" class="img-fluid rounded mx-auto d-block">
					<br>
					<p class="lead text-muted">	
						Five MEDLIT project team members from Universiti Putra Malaysia participated in the Train-the-Faculty Workshop hosted by University of Vienna, Austria from 10 – 22 May, 2017. The theme of the workshop was Media Emancipation. The workshop comprised three main components: i) guest talks delivered by experts in the field, ii) a visit to OFR (a television station), and iii) hands on experience on video production and editing at OCTO TV.
					</p>
					<p class="lead text-muted">
						The workshop was very educational and informative with the main highlights being the comprehensive and holistic exposure to video production and editing, from the conceptualization of ideas to the shooting at various scenes and locations and editing. The production process at the OCTO TV largely focuses on teamwork where all the participants were divided into groups according to countries and the tasks and assignments to be completed. The hands on experience includes using high definition television cameras to record interviews at different locations with key individuals talking about their involvement with OCTO TV. Other highlights include a Multiple Camera Production (MCP)  recording of a round table talk by representatives from different countries who presented their views and opinions concerning Media Literacy.
					</p>
					<p class="lead text-muted">
						The MCP studio recording and subsequent editing of the round table discussion was considered a significanthighlight of the Emancipation workshop.The video recordings were carried out at a number of key locations throughout Vienna, with her fine historial buildings and architectural monuments as the backdrop.
					</p>
				</li>

			</ol>
		</div> <!-- .events-content -->
	</section>
  </main>

</body>
</html>