<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <header class="nav-shadows">
    <% include ../partials/nav.ejs %>
  </header>

  <main>
    <div class="container">
      <h1 class="display-4 text-center">Our Team</h1>
      <hr>
      <br>
      <div class="row">
        <div class="col-sm-6 profile">
          <div class="profile-header"><img src="/img/ezhar.png" alt="" class="img-fluid img-circle"></div>
          <div class="profile-content">
            <h4>Prof. Dr. Ezhar Tamam</h4>
            <p class="lead position">Team Leader</p>
            <blockquote class="blockquote">
              <p class="mb-0">
                “It is a challenging but rewarding experience working in this international project. As UPM MEDLIT team leader, the MEDLIT project allows me to connect and learn from the wonderful members of the partner institutions on this important educational/social agenda.”
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-6 profile">
          <div class="profile-header"><img src="/img/sabariah.png" alt="" class="img-fluid img-circle"></div>
          <div class="profile-content">
            <h4>Dr. Sabariah Mohammed Salleh</h4>
            <p class="lead position">Project Manager/Associate Researcher</p>
            <blockquote class="blockquote">
              <p class="mb-0">
                “I believe that it is important to inculcate the concept of media literacy, especially among adolescents. The society, especially young people, should be equipped with critical thinking skills which will lead them to be an active audience – one who is skeptical and able to sieve through information before forming an opinion. The ability to analyze, evaluate and create media content responsibly, in my opinion, will empower individuals, create social change and contribute to nation building.”
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-6 profile">
          <div class="profile-header"><img src="http://via.placeholder.com/100x100" alt="" class="img-fluid img-circle"></div>
          <div class="profile-content">
            <h4>Dr. Rosya Izyanie Shamsudeen</h4>
            <p class="lead position">Researcher</p>
            <blockquote class="blockquote">
              <p class="mb-0">
                “Being part of MEDLIT project gives me a good opportunity to work in a different environment and have the chance to collaborate with the various partners. This research provides a wholesome experience and conducive learning atmosphere that enhance my capability and expertise as an academician and researcher.”
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-6 profile">
          <div class="profile-header"><img src="/img/nizam.png" alt="" class="img-fluid img-circle"></div>
          <div class="profile-content">
            <h4>Dr. Mohd Nizam Osmanm</h4>
            <p class="lead position">Researcher</p>
            <blockquote class="blockquote">
              <p class="mb-0">
                “Being a member in the MEDLIT project is indeed a very fun and exciting experience as well as a rather challenging task. I truly enjoy working together with members from the other countries such as Thailand, Vietnam, Austria, Holland and Germany. MEDLIT gives me excellent exposure and opportunity to understand what Media Literacy really means and the workshops enable me to gain firsthand knowledge and experience in production and editing as well as developing ideas for the project.”
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-6 profile">
          <div class="profile-header"><img src="/img/anita.png" alt="" class="img-fluid img-circle"></div>
          <div class="profile-content">
            <h4>Wan Anita Wan Abas</h4>
            <p class="lead position">Researcher</p>
            <blockquote class="blockquote">
              <p class="mb-0">
                "It is a great opportunity being one of the members of this big educational and social project. It really enhances my capacity as an educator and researcher by working with the wonderful and diverse international members".
              </p>
            </blockquote>
          </div>
        </div>
        <div class="col-sm-6 profile">
          <div class="profile-header"><img src="http://via.placeholder.com/100x100" alt="" class="img-fluid img-circle"></div>
          <div class="profile-content">
            <h4>Dr. Akmar Hayati Ahmad Ghazali</h4>
            <p class="lead position">Researcher</p>
            <blockquote class="blockquote">
              <p class="mb-0">
                “Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nesciunt asperiores repellat ut velit eligendi autem laudantium. Quod dignissimos, id obcaecati consectetur nihil atque deserunt eligendi dolore voluptatum, debitis alias?”
              </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </main>

</body>
</html>
